body{
background-image:url("https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fresize%3D2000%252C2000%252Cshrink%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2019-04%252F31269e10-61da-11e9-ae75-a9c8941f54b5%26client%3Da1acac3e1b3290917d92%26signature%3D4a13fd81e774fd1afb2e00416a89379a0b94ddc7&client=amp-blogside-v2&signature=7fb7f007e8dbb423a2f666e3a0561cadaf0c71fa");

color: rgb(250,0,0);
}
.container{
background-color:rgba(0,0,0,0.8);
margin-top:3%;
width:60%;
}
.color{
color:white;
position:absolute;
z-index:2;
top:0;
width:100%;
height:100%;
border:1px hidden;
border-radius:2px;
}
.nav{
color:red;}
.card{
color:black;
border:1px hidden;
border-radius:5px;
box-sizing:border-box;
box-shadow: 1px 3px 2px 3px grey;
padding:10px;
background-color:white;
}